/* 
  Pas besoin de mettre la couleur sur les autres états (:visited, ...). Comme 
  elle a été mise sur la balise 'a' direcement, le style se propage sur les 
  états.
*/
a {
  color: green;
  text-decoration: none;
}