/**
* ETML
* Auteur:       Sébastien Tille
* Date:         16 septembre 2023
* Description:  Feuille de style de l'exercice "Rubik".
**/

:root {
  --site-width: 980px;
}

body {
  background-color: blue;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

header {
  background-color: yellow;
}

main {
  padding: 0 3ch;
  background-color: white;
}

footer {
  background-color: orange;
  text-align: center;
}

a {
  color: green;
  text-decoration: none;
}

.source {
  color: black;
  font-style: italic;
}

.container {
  display: grid;
  width: var(--site-width);
  margin: 20px auto;
}

#logo {
  float: left;
  padding: 0 3ch;
  width: 5em;
}

.source {
  text-align: right;
}