/**
* Author:	Dupont Jean
*           Sébastien TILLE
* Date:		21.09.2023
* Summary:	Projet web, skin.css
**/

.section-menu {
    margin-top: 4ch;
}

.section-menu > ul  {
    display: flex;
    justify-content: center;
    list-style: none;
}

.section-menu > ul > li {
    width: auto;
    margin: 1ch 2ch;
    padding: 0.5ch 0;
}

.section-menu > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.section-menu > ul > li > a:hover {
    color: #616179;
}

.section-menu > ul > li > a:active {
    color: #BC8799;
}

.section-menu-line {
    margin-left: auto;
    margin-right: auto;

    width: 30%;
    color: white;
}

/* https://stackoverflow.com/a/60975588 */
tr.anchor {
    scroll-margin-top: 80px;
}

body,
* {
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
nav {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    background-color: black;
    text-align: center;
    /*border: 1px solid green;*/
}
nav ul {
    margin-top: 30px;
    margin-left: 35px;
}
nav ul li {
    list-style-type: none;
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-right: 4em;
    text-align: center;
    letter-spacing: 2px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.page_actuelle {
    color: #BC8799;
}
nav ul li a:hover {
    border-bottom: 0.1em solid #BC8799;
}
#headerMainPage {
    width: 100%;
    height: 790px;
    margin-top: 90px;
    color: white;
    background-image: url("../../../resources/images/glacier-lagoon-header.jpg");
    background-position: center;
    text-align: center;
}
#headerMainPage h1 {
    font-size: 130px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 200px;
    letter-spacing: 20px;
}
#headerMainPage h2 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 15px;
    font-size: 23.5px;
}
#littleHeader {
    width: 100%;
    height: 200px;
    color: white;
    margin-top: 90px;
    background-image: url("../../../resources/images/glacier-lagoon-little-header-2.jpg");
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
#littleHeader h1 {
    font-size: 62px;
    font-weight: 600;
    letter-spacing: 5px;
    padding-top: 5px;
    padding-left: 3%;
}
#littleHeader h2 {
    width: 50%;
    padding-left: 3%;
    text-align: justify;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600;
}
article {
    background-color: black;
    color: white;
    text-align: left;
    width: 100%;
    min-height: 41.7em;
    padding-top: 2em;
    font-size: 1em;
    /*border: 1px solid cyan;*/
}
section {
    width: 100%;
    min-height: 39.1em;
    background-color: black;
    color: white;
    padding-top: 40px;
    /*border: 1px solid skyblue;*/
}
section #whoami {
    text-align: center;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 72px;
}
section #whoami img {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
}
section table {
    width: 85%;
    padding-left: 200px;
    font-family: 'Open Sans', sans-serif;
}
section table tr {
    height: 250px;
}
section table tr td h3:hover {
    color: #BC8799;
    cursor: pointer;
}
.landscape_copyright {
    font-family: 'Open Sans', sans-serif;
    width: 57%;
    text-align: justify;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: auto;
    padding-bottom: 40px;
    padding-left: 20px;
    clear: both;
}
.landscape_copyright a {
    text-decoration: none;
    font-weight: 600;
    color: #BC8799;
}
section img {
    padding-bottom: 20px;
    margin: auto;
    width: 1000px;
    height: 563px;
    display: block;
}
section .galleria {
    width: 1200px;
    height: 600px;
    background: black;
    margin: auto;
    padding-bottom: 70px;
}
section .galleria img {
    width: 31.250em;
    height: 17.594em;
    float: right;
    margin: auto;
    padding-right: 70px;
    padding-bottom: 40px;
}
.table_historyDate {
    width: 15%;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 5px;
}
iframe {
    margin: auto;
    width: 1000px;
    height: 400px;
    display: block;
    box-shadow: 0px 0px 0px 0px white;
    margin-bottom: 40px;
}
.table_historyText {
    width: 85%;
    text-align: justify;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
}

/*
aside {
    width: 20%;
    height 100%;
    min-height: 39.1em;
    float: right;
    background-color: lightgrey;
    color: black;
}
*/

.messageForm {
    margin: auto;
    padding: 20px;
    width: 40%;
    max-width: 40%;
    background-color: black;
    border: 2px dotted #BC8799;
}
.messageForm fieldset {
    border: none;
}
.messageForm * {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}
.messageForm input,
textarea,
select,
button {
    background-color: black;
    /*border: 1px solid #BC8799;
    border-radius: .2em;*/
    border: none;
    border-bottom: 1px solid #BC8799;
    border-left: 1px solid #BC8799;
    color: #BC8799;
    width: 98%;
    padding-left: 5px;
    margin-right: 20px;
}
.messageForm label,
select,
button {
    color: lightgrey;
}
.messageForm select,
button {
    border: 1px solid #BC8799;
}
.messageForm #name {
    width: 35%;
    float: left;
}
.messageForm #email {
    width: 45%;
    float: right;
}
.messageForm #messageObj {
    clear: both;
}
footer {
    bottom: 0;
    height: 50px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 14px;
    background-color: black;
    color: white;
    margin-top: 30px;
}
@media screen and (max-width: 800px) {
    nav ul li {
        font-size: 16px;   
    }
    section .galleria {
        width: 600px;
        height: 300px;
    }
    section .galleria img {
        width: 250px;
        height: 130px;
        padding-top: 30px;
        padding-right: 35px;
    }
    iframe {
        width: 500px;
        height: 250px;
    }

    #littleHeader h1 {
        padding-top: 25px;
        font-size: 36px;
    }
    #littleHeader h2 {
        font-size: 18px;
    }
    #headerMainPage h1 {
        font-size: 70px;
    }
    
    #headerMainPage h2 {
        font-size: 20px;   
    }
    .messageForm * {
        font-size: 10px;   
    }
}
@media screen and (min-width: 800px) and (max-width: 1300px) {
    section .galleria {
        width: 800px;
        height: 400px;
    }
    section .galleria img {
        width: 334px;
        height: 175px;
        padding-right: 40px;
    }
    iframe {
        width: 600px;
        height: 300px;
    }
    #littleHeader h1 {
        padding-top: 32px;
        font-size: 36px;
    }
    #littleHeader h2 {
        font-size: 20px;
    }
    .messageForm * {
        font-size: 14px;   
    }
}
