:root {
  --background: #1d2729;
  --accent: #3399d9;

  --text-light: white;
  --text-dark: black;
  --text-low-contrast: #6b6c6e;

  --gradient-light: #f7f7f7;
  --gradient-dark: #dcdcdc;

  --border: #c5c5c5;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h2, h3, h4 {
  text-transform: uppercase;
}

.container {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}

.colored, .active {
  color: var(--accent);
}

/*************************************************************************
 *  HEADER
 *************************************************************************/
header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

/* Logo */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin: 4ch 0;
  width: 100%;
}

#logo {
  align-self: center;
}

/* Search */
form {
  color: #555;
  display: flex;
  padding: 6px 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  margin: 0 0 30px;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: var(--background);
  text-transform: uppercase;
  font-weight: 600;
}


button[type="submit"] {
  width: 7ch;
  border: none;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

/* Navigation */
nav {
  width: 100%;
}

nav > ul {
  display: flex;
  flex-direction: row;
  background-color: var(--background);
  border-bottom: 3px solid var(--accent);
  border-radius: 10px;

  padding: 0;
  margin: 0;
}

nav > ul > li {
  padding: 1.25rem;
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-light);
}

nav > ul > li > a:hover {
  text-decoration: none;
  color: var(--accent);
}

/* Background image */
.hero-container {
  background-image: url(../../../resources/images/sial/tiles/bathroom.PNG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 450px;
}

.spacer {
  height: 400px;
}

/*************************************************************************
 *  TILES
 *************************************************************************/
.tiles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.tile {
  display: flex;
  flex-direction: column;
  width: 31.5%;
}

.tile img {
  height: 230px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 4px solid var(--accent);
}

.desc {
  display: flex;
  flex-wrap: wrap;
}

.tile h2 {
  width: 100%;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1.75rem;
}

.tile p {
  margin-top: 0;
  width: 95%;
}

.tile i {
  align-self: center;
}

.tile .desc {
  background-color: var(--background);
  padding: 0.5ch 2ch;
  
  color: var(--text-light);

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h3 {
  padding: 0.75rem;
  background: linear-gradient(var(--gradient-light), var(--gradient-dark));
  border-bottom: 1px solid var(--border);
  border-radius: 5px;
}

/* Bottom grid */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3ch;
}

.product {
  display: flex;
  flex-direction: column;
  width: 250px;

  text-align: center;

  border: 1px solid var(--border);
  border-radius: 5px;
}

.product img {
  padding: 3ch;

  width: 75%;
  object-fit: contain;
}

/*************************************************************************
 *  FOOTER
 *************************************************************************/
footer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--background);
  color: var(--text-low-contrast);
}

footer h4 {
  color: var(--text-light);
}

footer a {
  text-decoration: none;
  color: var(--text-low-contrast);
}

footer a:hover, footer address a {
  color: var(--accent);
}