/**
* ETML
* Auteur:       Sébastien Tille
* Date:         16 septembre 2023
* Description:  Feuille de style de l'exercice "Poisson".
**/
:root {
  --website-width: 980px;
}

body {
  background-color: #00ffff;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #216bff;
  color: white;
}

.logo {
  margin: 1rem 4ch;
  height: 4rem;
}

main {
  display: flex;
  flex-flow: row wrap;
  padding: 0 4ch;
  background-color: white;
}

main > h2 {
  width: 100%;
}

main > .desc {
  margin: 0;
  width: 50%;
}

main > img {
  flex: 1;
  padding-left: 5ch;
  max-width: 35%;
}

.source {
  width: 100%;
  font-style: italic;
  text-align: right;
}

footer {
  background-color: #216bff;
  text-align: center;
}

.container {
  display: grid;
  margin: 20px auto;
  width: var(--website-width);
  border: 3px solid black;
}

a {
  color: white;
  text-decoration: none;
}

.source > a {
  color: red;
}