body {
  margin: 0;
  font-family: Verdana,Arial,sans-serif;
}

header {
  background: #c0e5dd;
}

footer {
  background: #4a5653;
}

#header, main, #footer {
  width: 980px;
  margin: 0 auto; /*centrer horizontalement*/
}

footer #footer {
  color: #fff;
  font-size: 90%;
  padding: 30px 30px 0;
  display:flex;
  flex-direction:row;
}

footer #footer a  {
  color: #c0e5dd;
  text-decoration: none;
}

footer #footer address {
  width: 50%;
}
footer #footer #sitemap h4 {
  margin-top: 0;
}

footer #footer #sitemap ul {
  padding: 0;
}

footer #footer #sitemap li {
  list-style: none;
}
footer #poweredby {
  text-align: right;
  font-style: italic;
  font-size: 80%;
  border-top: 1px dashed black;
  color: white;
}



/* Custom Horizontal Menu */
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style: none;
  height: 75px;
  text-align: center;
}

nav ul li a {
  line-height: 70px;
  text-decoration: none;
  font-family: cursive, sans-serif;
  text-shadow: 1px 1px 1px #888;
  color:white;
  font-size: 20px;
}
