:root {
  --green: #22b764;
  --orange: #ff9639;
}

.green {
  float: left;
  width: 50%;
  background-color: var(--green);
}

.orange {
  display: inline-block;
  width: 50%;
  background-color: var(--orange);
}

#services {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}