button {
  margin: 10px 0;
}

form {
  width: 300px
}

.form-item {
  display: flex;
  padding: 0.4rem;
}

label {
  flex-grow: 1;
}

label#remark-label {
  align-self: flex-end;
}

input {
  /*margin-right: 20px;*/
}