header {
  background-color: antiquewhite;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
}

table {
  width: 100%;
  table-layout: fixed;
}

table, td, th {
  border: 0px solid black;
  border-collapse: collapse;
}

th {
  text-align: left;
}

footer {
  width: 100%;
  background-color: aquamarine;

  text-align: center;

  position: fixed;
  bottom: 0;
  left: 0;
}