body {
  width: 980px;
}

header {
  height: 50px;
  background-color: red;
}

nav {
  width: 200px;
  background-color: green;
}

main {
  background-color: blue;
}

footer {
  height: 30px;
  background-color: yellow;
}