:root {
  --content-width: 980px;
  --nav-width: 200px;
}

body {
  margin: 0;
}

header {
  flex: 1 100%;
  height: 50px;
  background-color: red;
}

nav {
  width: var(--nav-width);
  background-color: green;
}

main { 
  flex-grow: 1;
  background-color: blue;
}

footer {
  flex: 1 100%;
  height: 30px;
  background-color: yellow;
}

header > p, footer > p {
  margin-top: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  width: var(--content-width);
}