:root {
  --container-width: 980px;
  --nav-width: 200px;
}

body {
  margin: 0;
}

header {
  height: 50px;
  background-color: red;
}

nav {
  float: left;
  width: var(--nav-width);
  background-color: green;
}

main { 
  float: left;
  width: calc(var(--container-width) - var(--nav-width));
  background-color: blue;
}

footer {
  clear: both;
  height: 30px;
  background-color: yellow;
}

header > p, footer > p {
  margin-top: 0;
}

.container {
  width: var(--container-width);
}