:root {
  --content-width: 980px;
  --nav-width: 200px;
}

body{
  margin: 0;
}

header {
  height: 50px;
  background-color: red;
}

nav {
  float: left;
  width: var(--nav-width);
  background-color: green;
}

main { 
  display: inline-block;
  width: calc(var(--content-width) - var(--nav-width));
  background-color: blue;
}

footer {
  height: 30px;
  background-color: yellow;
}

header > p, footer > p {
  margin-top: 0;
}

.container {
  width: var(--content-width);
}